extends ../layout

block content
  a(href="/bicicletas" class="btn btn-success m-3") Volver
  br
  br

  .card.w-50.m-4
    h5.card-header Nueva Bicicleta
    .card-body
      form(action="/bicicletas/create", method="post")
        .mb-3
          label.form-label(for='id') ID:
          input#id.form-control(type="text", name="id")
        .mb-3
          label.form-label(for='color') Color:
          input#color.form-control(type="text", name="color")
        .mb-3
          label.form-label(for='modelo') Modelo:
          input#modelo.form-control(type="text", name="modelo")
        .mb-3
          label.form-label(for='lat') Latitud:
          input#lat.form-control(type="text", name="lat")
        .mb-3
          label.form-label(for='lng') Longitud:
          input#lng.form-control(type="text", name="lng")
      input.btn.btn-primary(type="submit", value="Crear Bicicleta")
