extends ../layout

block content
  br
  br
  a(href='/' class='btn btn-primary m-3') Inicio
  br
  a(href='/bicicletas/create' class='btn btn-success m-3') Nueva Bicicleta
  br
  br
  div.container-fluid
      table.table.table-hover.table-striped.table-sm.caption-top.table-bordered
        caption Lista de Bicicletas
        thead.table-dark
          tr
            th(scope='col') #
            th(scope='col') Color
            th(scope='col') Modelo
            th(scope='col') Ubicación
            th(scope='col') Actualizar
            th(scope='col') Eliminar
        tbody
          each bici in bicis
            tr.align-middle
              td(scope='row')
                = bici.id
              td= bici.color
              td= bici.modelo
              td= bici.ubicacion
              td
                a(href= 'bicicletas/'+ bici.id +'/update' class='btn btn-warning')
                  svg.bi.bi-pencil-square(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                    path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
                    path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z')

              td
                form.inline(action="bicicletas/"+bici.id+'/delete' method="POST")
                  input(type="hidden" name="id" value= bici.id)
                  button.link-button(type="submit" name="submit_param" value="submit_value" class="btn btn-danger")
                    svg.bi.bi-trash-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                      path(d='M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0')
